<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
    </head>
    <body>
        <form action="/madlib">
            <label>Give me a person's name: 
                <input type="text" name="person" placeholder="Enter name">
            </label> <br>
            <label>Pick a color: 
                <select name="color">
                    <option value="red">Red</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                </select>
            </label> <br>
            <label>Give me a noun: 
                <input type="text" name="noun" placeholder="Enter a noun">
            </label> <br>
            <label>Give me an adjective: 
                <input type="text" name="adjective" placeholder="Enter an adjective">
            </label><br>
            <label>Which fruits do you like? check all that apply: <br>
                <input type="checkbox" name="fruits" value="apple">apples<br>
                <input type="checkbox" name="fruits" value="banana">bananas<br>
                <input type="checkbox" name="fruits" value="mango">mangoes<br>
            </label>

            <input type="submit">
        </form>

    </body>
</html>